*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 50px;
}
.antioch{
    letter-spacing: 0.5em;
    font-weight: 600;
}
.baptist{
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.about-div{
    background-image: url(https://static.wixstatic.com/media/3b1f25_dd7d1a886fca433582a61f39c3c259a1.jpg/v1/fill/w_1023,h_540,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/3b1f25_dd7d1a886fca433582a61f39c3c259a1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 6em;
    padding-bottom: 6em;
}
.about-head{
    letter-spacing: 0.2em;
    max-width: 15em;
}
.about-mid-gen{
    padding-top: 6em;
    padding-bottom: 6em;
}
.mid-head{
    letter-spacing: 0.1em;
}
.faith-gen{
    padding-top: 6em;
    padding-bottom: 6em;
}
.footer{
    background-color: #2F2E2E;
    color: #8f8f8f;
}
.footer-content{
    border-right: 1px solid #8f8f8f;
}
.footer-p{
    font-size: 0.9em;
    line-height: 1.2em;
}

/* HOME PAGE RESPONSIVENESS */
@media all and (max-width: 280px){
    .about-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .about-mid-gen{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .faith-gen{
        padding-top: 0em;
        padding-bottom: 1em;
    }
    .faith-div{
        text-align: center;
    }
    .faith-div h5{
        margin-top: 1em;
    }
    .faith-div div{
        width: fit-content;
        margin: auto;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .logo{
        width: 35px;
    }
    .antioch{
        letter-spacing: 0.2em;
        font-size: 0.9em;
    }
    .baptist{
        letter-spacing: 0.1em;
        font-size: 0.7em;
    }
    video{
        margin-top: -40px;
        max-width: 260px;
    }
    .footer-content{
        border-right: 0;
    }
    footer{
        font-size: 0.7em;
    }
}

@media all and (min-width: 281px) and (max-width: 320px){
    .about-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    video{
        max-width: 300px;
    }
    .footer-content{
        border-right: 0;
    }
    footer{
        font-size: 0.8em;
    }
}

@media all and (min-width: 321px) and (max-width: 375px){
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    video{
        max-width: 355px;
    }
    .footer-content{
        border-right: 0;
    }
}

@media all and (min-width: 376px) and (max-width: 425px){
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    video{
        max-width: 405px;
    }
    .footer-content{
        border-right: 0;
    }
}
@media all and (min-width:426px) and (max-width:720px){
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    video{
        max-width: 700px;
    }
    .footer-content{
        border-right: 0;
    }
}