*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 50px;
}
.antioch{
    letter-spacing: 0.5em;
    font-weight: 600;
}
.baptist{
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.contact-div{
    background-image: url(https://static.wixstatic.com/media/3b1f25_3ea14133c97a4521a3ac6e1ab3699251.jpg/v1/fill/w_552,h_287,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/3b1f25_3ea14133c97a4521a3ac6e1ab3699251.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 6em;
    padding-bottom: 6em;
}
.contact-head{
    letter-spacing: 0.2em;
    max-width: 15em;
}
.map{
    padding-top: 6em;
    padding-bottom: 6em;
}
.conicon-div{
    padding-top: 5em;
    padding-bottom: 6em;
    margin: auto;
    width: fit-content;
    cursor: pointer;
}
.footer{
    background-color: #2F2E2E;
    color: #8f8f8f;
}
.footer-content{
    border-right: 1px solid #8f8f8f;
}
.footer-p{
    font-size: 0.9em;
    line-height: 1.2em;
}

/* HOME PAGE RESPONSIVENESS */
@media all and (max-width: 280px){
    .contact-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .map{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .conicon-div{
        padding-top: 1em;
        padding-bottom: 2em;
    }
    iframe{
        width: 250px;
        height: 200px;
    }
    .location-div{
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .logo{
        width: 35px;
    }
    .antioch{
        letter-spacing: 0.2em;
        font-size: 0.9em;
    }
    .baptist{
        letter-spacing: 0.1em;
        font-size: 0.7em;
    }
    .footer-content{
        border-right: 0;
    }
    footer{
        font-size: 0.7em;
    }
}