*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 50px;
}
.antioch{
    letter-spacing: 0.5em;
    font-weight: 600;
}
.baptist{
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.event-div{
    background-image: url(https://static.wixstatic.com/media/3b1f25_9d35e1c9ecf3463ca445233a158dcb86.jpg/v1/fill/w_980,h_429,al_b,q_85,usm_0.66_1.00_0.01,enc_auto/3b1f25_9d35e1c9ecf3463ca445233a158dcb86.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 6em;
    padding-bottom: 6em;
}
.event-head{
    letter-spacing: 0.2em;
    max-width: 15em;
}
.event-mid-gen{
    padding-top: 6em;
    padding-bottom: 6em;
}
.footer{
    background-color: #2F2E2E;
    color: #8f8f8f;
}
.footer-content{
    border-right: 1px solid #8f8f8f;
}
.footer-p{
    font-size: 0.9em;
    line-height: 1.2em;
}



@media all and (min-width: 281px) and (max-width: 320px){
    .event-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .event-mid-gen{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .event-mid-gen img{
        max-width: 94vw;
        max-height: 200px;
    }
    .p1{
        margin-top: 1em;
    }
    .event-mid-gen p{
        font-size: 0.95em;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    
    .footer-content{
        border-right: 0;
    }
    footer{
        font-size: 0.8em;
    }
}