*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 50px;
}
.antioch{
    letter-spacing: 0.5em;
    font-weight: 600;
}
.baptist{
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.carousel-con1{
    background-image: url(https://static.wixstatic.com/media/84770f_cbb616c8fac84482b014ed77163961a4~mv2.jpg/v1/fill/w_1960,h_1456,q_90/84770f_cbb616c8fac84482b014ed77163961a4~mv2.webp);
    filter: brightness(75%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: 8em;
}
.carousel-con2{
    background-image: url(https://static.wixstatic.com/media/84770f_44fe7dcf443f455bb9f62a73f21ad7ca~mv2.jpg/v1/fill/w_1960,h_1456,fp_0.47_0.31,q_90/84770f_44fe7dcf443f455bb9f62a73f21ad7ca~mv2.webp
    );
    filter: brightness(75%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: 8em;
}
.carousel-con3{
    background-image: url(https://static.wixstatic.com/media/84770f_41fe698c167d49e6b0d7f7ea0d4fb0df~mv2.jpg/v1/fill/w_1960,h_1456,q_90/84770f_41fe698c167d49e6b0d7f7ea0d4fb0df~mv2.webp
    );
    filter: brightness(75%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: 8em;
}
.carousel-texts{
    color: rgb(0, 0, 0);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 400px;
    max-width: 100vw;
    text-align: center;
}
.carousel-text1{
    height: fit-content;
    width: fit-content;
    margin: auto;
    font-size: 1.5em;
    font-weight: 600;
}
.carousel-text2{
    height: fit-content;
    max-width: 13em;
    margin: auto;
    font-size: 4.5em;
}
.carousel-text3{
    background-color: #012646;
    margin: auto;
}
.event-container{
    background-color: #F7F5F2;
}
.event-content{
    border-right: 1px solid rgb(139, 139, 139);
    width: 20em;
}
.hhr{
    display: none;
}
.event-con2{
    margin-top: 6em;
    color: #3f4643;
}
.event-con3{
    margin-top: -1.1em;
    font-size: 0.93em;
}
.event-con4{
    margin-top: 8em;
    font-size: 0.75em;
}
.event-con5{
    margin-top: 5em;
    font-size: 0.95em;
    line-height: 1.4em;
}
.welcome-div{
    padding-top: 6em;
    padding-bottom: 8em;
}
.welcome-head{
    letter-spacing: 0.2em;
}
.welcome-con{
    font-size: 0.95em;
}
.card{
    background-color: #F7F5F2;
}
.card-par{
    font-size: 0.95em;
}
.card-link{
    font-size: 0.75em;
}
.spread-div{
    background-image: url(https://static.wixstatic.com/media/8425ecadf47444dfb40f79663d4cb9c5.jpg/v1/fill/w_298,h_212,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/8425ecadf47444dfb40f79663d4cb9c5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
    padding-top: 6em;
    padding-bottom: 6em;
}
.spread-head{
    letter-spacing: 0.2em;
    max-width: 15em;
}
.spread-link{
    background-color: #012646;
    font-size: 0.8em
}
.spread-link:hover{
    opacity: 0.9;
    background-color: #67605F;
    color: #ffffff;
}
.footer{
    background-color: #2F2E2E;
    color: #8f8f8f;
}
.footer-content{
    border-right: 1px solid #8f8f8f;
}
.footer-p{
    font-size: 0.9em;
    line-height: 1.2em;
}

/* HOME PAGE RESPONSIVENESS */
@media all and (max-width: 280px){
    .carousel-con{
        height: 55vh;
        padding-top: 3em;
    }
    .carousel-texts{
        height: 300px;
        text-align: center; 
    }
    .carousel-text1{
        font-size: 1.1em;
    }
    .carousel-text2{
        max-width: 9em;
        font-size: 1.7em;
    }
    .carousel-text3{
        font-size: 0.8em;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .logo{
        width: 35px;
    }
    .antioch{
        letter-spacing: 0.2em;
        font-size: 0.9em;
    }
    .baptist{
        letter-spacing: 0.1em;
        font-size: 0.7em;
    }
    .event-content{
        border-right: none;
        width: 100vw;
        margin: auto;
    }
    .hhr{
        display: block;
        color: rgb(15, 15, 15);
    }
    .event-content h3{
        margin-top: 2em;
    }
    .event-con2{
        margin-top: 1.5em;
    }
    .event-con4{
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }
    .event-con5{
        margin-top: 2em;
    }
    .welcome-div{
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .card-con{
        margin-top: -2em;
        margin-bottom: -2em;
    }
    .spread-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .spread-link{
        font-size: 0.6em
    }
    .footer-content{
        border-right: 0;
    }
    footer{
        font-size: 0.7em;
    }
}

@media all and (min-width: 281px) and (max-width: 320px){
    .carousel-con{
        height: 70vh;
        padding-top: 3em;
    }
    .carousel-texts{
        height: 300px;
        text-align: center; 
    }
    .carousel-text1{
        font-size: 1.2em;
    }
    .carousel-text2{
        max-width: 9em;
        font-size: 1.8em;
    }
    .carousel-text3{
        font-size: 0.8em;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    .event-content{
        border-right: none;
        margin: auto;
    }
    .hhr{
        display: block;
        color: rgb(15, 15, 15);
    }
    .event-content h3{
        margin-top: 2em;
    }
    .event-con2{
        margin-top: 1.5em;
    }
    .event-con4{
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }
    .event-con5{
        margin-top: 2em;
    }
    .welcome-div{
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .card-con{
        margin-top: -2em;
        margin-bottom: -2em;
    }
    .spread-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .spread-link{
        font-size: 0.7em
    }
    .footer-content{
        border-right: 0;
    }
    footer{
        font-size: 0.8em;
    }
}

@media all and (min-width: 321px) and (max-width: 375px){
    .carousel-con{
        height: 70vh;
        padding-top: 3em;
    }
    .carousel-texts{
        height: 300px;
        text-align: center; 
    }
    .carousel-text1{
        font-size: 1.2em;
    }
    .carousel-text2{
        max-width: 9em;
        font-size: 1.8em;
    }
    .carousel-text3{
        font-size: 0.8em;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    .event-content{
        border-right: none;
        margin: auto;
    }
    .hhr{
        display: block;
        color: rgb(15, 15, 15);
    }
    .event-content h3{
        margin-top: 2em;
    }
    .event-con2{
        margin-top: 1.5em;
    }
    .event-con4{
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }
    .event-con5{
        margin-top: 2em;
    }
    .welcome-div{
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .welcome-head{
        max-width: 15em;
    }
    .card-con{
        margin-top: -2em;
        margin-bottom: -2em;
    }
    .spread-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .spread-link{
        font-size: 0.7em
    }
    .footer-content{
        border-right: 0;
    }
}

@media all and (min-width: 376px) and (max-width: 425px){
    .carousel-con{
        height: 70vh;
        padding-top: 3em;
    }
    .carousel-texts{
        height: 300px;
        text-align: center; 
    }
    .carousel-text1{
        font-size: 1.2em;
    }
    .carousel-text2{
        max-width: 9em;
        font-size: 1.8em;
    }
    .carousel-text3{
        font-size: 0.8em;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    .event-content{
        border-right: none;
        margin: auto;
    }
    .hhr{
        display: block;
        color: rgb(15, 15, 15);
    }
    .event-content h3{
        margin-top: 2em;
    }
    .event-con2{
        margin-top: 1.5em;
    }
    .event-con4{
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }
    .event-con5{
        margin-top: 2em;
    }
    .welcome-div{
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .card-con{
        margin-top: -2em;
        margin-bottom: -2em;
    }
    .spread-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .spread-link{
        font-size: 0.7em
    }
    .footer-content{
        border-right: 0;
    }
}
@media all and (min-width:426px) and (max-width:720px){
    .carousel-con{
        height: 70vh;
        padding-top: 3em;
    }
    .carousel-texts{
        height: 300px;
        text-align: center; 
    }
    .carousel-text1{
        font-size: 1.2em;
    }
    .carousel-text2{
        max-width: 9em;
        font-size: 1.8em;
    }
    .carousel-text3{
        font-size: 0.8em;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    .event-content{
        border-right: none;
        margin: auto;
    }
    .hhr{
        display: block;
        color: rgb(15, 15, 15);
    }
    .event-content h3{
        margin-top: 2em;
    }
    .event-con2{
        margin-top: 1.5em;
    }
    .event-con4{
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }
    .event-con5{
        margin-top: 2em;
    }
    .welcome-div{
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .card-con{
        margin-top: -2em;
        margin-bottom: -2em;
    }
    .spread-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .spread-link{
        font-size: 0.7em
    }
    .footer-content{
        border-right: 0;
    }
}
@media all and (min-width:721px) and (max-width:767px){
    .carousel-con{
        height: 70vh;
        padding-top: 3em;
    }
    .carousel-texts{
        height: 300px;
        text-align: center; 
    }
    .carousel-text1{
        font-size: 1.5em;
    }
    .carousel-text2{
        font-size: 2em;
    }
    .carousel-text3{
        font-size: 0.8em;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    .event-content{
        border-right: none;
        margin: auto;
    }
    .hhr{
        display: block;
        color: rgb(15, 15, 15);
    }
    .event-content h3{
        margin-top: 2em;
    }
    .event-con2{
        margin-top: 1.5em;
    }
    .event-con4{
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }
    .event-con5{
        margin-top: 2em;
    }
    .welcome-div{
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .spread-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .spread-link{
        font-size: 0.7em
    }
    .footer-content{
        border-right: 0;
    }
    .footer-pp{
        font-size: 0.7em;
    }
}
@media all and (min-width:768px) and (max-width:915px){
    .carousel-con{
        height: 70vh;
        padding-top: 3em;
    }
    .carousel-texts{
        height: 300px;
        text-align: center; 
    }
    .carousel-text1{
        font-size: 1.5em;
    }
    .carousel-text2{
        font-size: 2em;
    }
    .carousel-text3{
        font-size: 0.8em;
    }
    .footer-pp{
        font-size: 0.7em;
    }
}
@media all and (min-width:916px) and (max-width:1024px){
    .carousel-con{
        height: 70vh;
        padding-top: 2em;
    }
    .carousel-texts{
        height: 300px;
        text-align: center; 
    }
    .carousel-text1{
        font-size: 1.5em;
    }
    .carousel-text2{
        font-size: 2em;
    }
    .carousel-text3{
        font-size: 0.8em;
    }
    .footer-pp{
        font-size: 0.7em;
    }
}