*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 50px;
}
.antioch{
    letter-spacing: 0.5em;
    font-weight: 600;
}
.baptist{
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.sermon-div{
    background-image: url(https://static.wixstatic.com/media/3b1f25_0c879616f0414d26997352cbcf27a1ec.jpg/v1/fill/w_1024,h_601,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/3b1f25_0c879616f0414d26997352cbcf27a1ec.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 6em;
    padding-bottom: 6em;
}
.sermon-head{
    letter-spacing: 0.2em;
    max-width: 15em;
}
.family-mid{
    padding-top: 6em;
    padding-bottom: 6em;
    max-width: 45em;
}
.family-head{
    letter-spacing: 0.1em;
}
.hour-gen{
    padding-top: 6em;
    padding-bottom: 6em;
}
.hour-div h5{
    letter-spacing: 0.1em;
}
.when{
    margin-top: -1em
}
.footer{
    background-color: #2F2E2E;
    color: #8f8f8f;
}
.footer-content{
    border-right: 1px solid #8f8f8f;
}
.footer-p{
    font-size: 0.9em;
    line-height: 1.2em;
}


/* HOME PAGE RESPONSIVENESS */
@media all and (max-width: 280px){
    .sermon-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .family-mid{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .hour-gen{
        padding-top: 2em;
        padding-bottom: 1em;
    }
    .hour-div{
        text-align: center;
    }
    .hour-div h5{
        margin-top: 1em;
    }
    .hour-div div{
        width: fit-content;
        margin: auto;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .logo{
        width: 35px;
    }
    .antioch{
        letter-spacing: 0.2em;
        font-size: 0.9em;
    }
    .baptist{
        letter-spacing: 0.1em;
        font-size: 0.7em;
    }
    .hour-gen div img{
        max-width: 90vw;
    }
    .footer-content{
        border-right: 0;
    }
    footer{
        font-size: 0.7em;
    }
}

@media all and (min-width: 281px) and (max-width: 320px){
    .sermon-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .family-mid{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .family-head{
        font-size: 1.05em;
    }
    .family-mid p{
        font-size: 0.95em;
    }
    .hour-gen{
        padding-top: 2em;
        padding-bottom: 1em;
    }
    .hour-div{
        text-align: center;
    }
    .hour-div h5{
        margin-top: 1em;
    }
    .hour-div div{
        width: fit-content;
        margin: auto;
    }
    .hour-div p{
        font-size: 0.95em;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    .hour-gen div img{
        max-width: 94vw;
    }
    .footer-content{
        border-right: 0;
    }
    footer{
        font-size: 0.8em;
    }
}

@media all and (min-width: 321px) and (max-width: 375px){
    .sermon-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .family-mid{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .family-head{
        font-size: 1.1em;
    }
    .family-mid p{
        font-size: 1em;
    }
    .hour-gen{
        padding-top: 2em;
        padding-bottom: 1em;
    }
    .hour-div{
        text-align: center;
    }
    .hour-div h5{
        margin-top: 1em;
    }
    .hour-div div{
        width: fit-content;
        margin: auto;
    }
    .hour-div p{
        font-size: 1em;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    .hour-gen div img{
        max-width: 94vw;
    }
    .footer-content{
        border-right: 0;
    }
}


@media all and (min-width: 376px) and (max-width: 425px){
    .sermon-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .family-mid{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .family-head{
        font-size: 1.2em;
    }
    .family-mid p{
        font-size: 1em;
    }
    .hour-gen{
        padding-top: 2em;
        padding-bottom: 1em;
    }
    .hour-div{
        text-align: center;
    }
    .hour-div h5{
        margin-top: 1em;
    }
    .hour-div div{
        width: fit-content;
        margin: auto;
    }
    .hour-div p{
        font-size: 1em;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    .hour-gen div img{
        max-width: 94vw;
    }
    .footer-content{
        border-right: 0;
    }
}

@media all and (min-width:426px) and (max-width:720px){
    .sermon-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .family-mid{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .family-head{
        font-size: 1.3em;
    }
    .family-mid p{
        font-size: 1em;
    }
    .hour-gen{
        padding-top: 2em;
        padding-bottom: 1em;
    }
    .hour-div{
        text-align: center;
    }
    .hour-div h5{
        margin-top: 1em;
    }
    .hour-div div{
        width: fit-content;
        margin: auto;
    }
    .hour-div p{
        font-size: 1em;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    .hour-gen div img{
        max-width: 94vw;
    }
    .footer-content{
        border-right: 0;
    }
}

@media all and (min-width:721px) and (max-width:915px){
    .hour-gen div img{
        max-width: 450px;
    }
    .footer-pp{
        font-size: 0.7em;
    }
}