*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 50px;
}
.antioch{
    letter-spacing: 0.5em;
    font-weight: 600;
}
.baptist{
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.stream-div{
    padding-top: 6em;
    padding-bottom: 6em;
    margin: auto;
    width: fit-content;
    gap: 20em;
}
.faceebook a{
    border: 0.35em solid black;
    border-radius: 50%;
    animation: color 2s infinite;
}
.faceebook a svg{
    border: 0.35em solid black;
    border-radius: 50%;
    animation: color 2s infinite;
}
.mixlr a{
    border: 0.35em solid black;
    border-radius: 50%;
    animation: color 2s infinite;
}
.mixlr a svg{
    border: 0.35em solid black;
    border-radius: 50%;
    animation: color 2s infinite;
}
@keyframes color{
    0%{
        border: 0.35em solid rgb(240, 240, 240);
    }
    35%{
        border: 0.35em solid #555555;
    }
    75%{
        border: 0.35em solid rgb(192, 191, 191);
    }
    100%{
        border:0.35em solid #2b2b2b;
    }
}
hr{
    display: none;
}
.footer{
    background-color: #2F2E2E;
    color: #8f8f8f;
}
.footer-content{
    border-right: 1px solid #8f8f8f;
}
.footer-p{
    font-size: 0.9em;
    line-height: 1.2em;
}

/* HOME PAGE RESPONSIVENESS */
@media all and (max-width: 280px){
    .stream-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    hr{
        display: block;
    }
    .navbrand a{
        display: flex;
        gap: 0.5em;
    }
    .logo{
        width: 35px;
    }
    .antioch{
        letter-spacing: 0.2em;
        font-size: 0.9em;
    }
    .baptist{
        letter-spacing: 0.1em;
        font-size: 0.7em;
    }
    .footer-content{
        border-right: 0;
    }
    footer{
        font-size: 0.7em;
    }
}
@media all and (min-width: 281px) and (max-width: 320px){
    .stream-div{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    hr{
        display: block;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .antioch{
        letter-spacing: 0.3em;
    }
    .baptist{
        letter-spacing: 0.15em;
    }
    .footer-content{
        border-right: 0;
    }
    footer{
        font-size: 0.8em;
    }
}