*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 50px;
}
.antioch{
    letter-spacing: 0.5em;
    font-weight: 600;
}
.baptist{
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.stream-div{
    padding-top: 6em;
    padding-bottom: 6em;
    margin: auto;
    width: fit-content;
    gap: 20em;
}
.faceebook a{
    border: 0.35em solid black;
    border-radius: 50%;
    animation: move 1.7s infinite;
}
.faceebook a svg{
    border: 0.35em solid black;
    border-radius: 50%;
    animation: move 1.7s infinite;
}
.mixlr a{
    border: 0.35em solid black;
    border-radius: 50%;
    animation: move 1.7s infinite;
}
.mixlr a svg{
    border: 0.35em solid black;
    border-radius: 50%;
    animation: move 1.7s infinite;
    /* animation: mo 1.7s infinite; */
}
@keyframes move{
    0%{
        border: 0.35em solid rgb(238, 238, 238);
        /* scale: 10%; */
    }
    50%{
        border: 0.35em solid rgb(117, 117, 117);
        /* scale: -50%; */
    }
    100%{
        border:0.35em solid #000000;
        /* scale: 100%; */
    }
}
.footer{
    background-color: #2F2E2E;
    color: #8f8f8f;
}
.footer-content{
    border-right: 1px solid #8f8f8f;
}
.footer-p{
    font-size: 0.9em;
    line-height: 1.2em;
}