*{
    margin: 0;
    padding: 0;
}
/* .navbar{
    width: 100vw;
} */
.navbrand{
    /* border: 1px solid red; */
    text-align: center;
}
.logo{
    width: 50px;
}
.antioch{
    /* border: 1px solid red; */
    letter-spacing: 0.5em;
    font-weight: 600;
}
.baptist{
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
ul{
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-left: 2em;
}
.carousel-con{
    background-image: url(/img/favicon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: 10em;
}
.carousel-texts{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 400px;
    max-width: 100vw;
    text-align: center; 
}
.carousel-text1{
    height: fit-content;
    width: fit-content;
    margin: auto;
    font-size: 1.5em;
    font-weight: 600;
}
.carousel-text2{
    height: fit-content;
    width: fit-content;
    margin: auto;
    font-size: 4.5em;
}
.carousel-text3{
    background-color: #012646;
    height: fit-content;
    width: fit-content;
    margin: auto;
}
.event-container{
    background-color: #F7F5F2;
}
.event-header{
    text-align: center;
    
}
.event-content{
    border-right: 1px solid rgb(139, 139, 139);
    width: 20em;
    text-align: center;
}
.event-con2{
    margin-top: 6em;
    color: #3f4643;
}
.event-con3{
    margin-top: -1.1em;
    font-size: 0.93em;
}
.event-con4{
    margin-top: 8em;
    font-size: 0.75em;
}
.event-con5{
    margin-top: 5em;
    font-size: 0.95em;
    line-height: 1.4em;
}
.welcome-div{
    text-align: center;
    padding-top: 6em;
    padding-bottom: 8em;
}
.welcome-head{
    letter-spacing: 0.2em;
}
.welcome-con{
    font-size: 0.95em;
}
.card{
    background-color: #F7F5F2;
}
.card-par{
    font-size: 0.95em;
}
.card-link{
    font-size: 0.75em;
}
.spread-div{
    background-image: url(./img/favicon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
    padding-top: 6em;
    padding-bottom: 6em;
}
