*{
    margin: 0;
    padding: 0;
}
.navbar{
    position: fixed;
    width: 100vw;
}
.navbrand{
    /* border: 1px solid red; */
    text-align: center;
}
.logo{
    width: 50px;
}
.antioch{
    /* border: 1px solid red; */
    letter-spacing: 0.5em;
    font-weight: 600;
}
.baptist{
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
ul{
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-left: 2em;
}